[data-react-spring-sheets-sheet] {
    z-index: 100;
    position: fixed;
    left: 2vw;
    height: calc(100vh + 100px);
    width: 96vw;
    border-radius: 12px 12px 0px;
    background: #fff;
    touch-action: none;
}